* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  background-color: white;
  gap: 40px;
  width: 100%;
  padding: 15px;
  display: flex;
  font-size: 20px;
  color: darkgreen;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  z-index: 1000;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.SearchBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.SearchBox input {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: darkgreen;
}

input {
  width: 700px;
  min-height: 25px;
  border-radius: 12.5px;
  border-color: black;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
}

nav a {
  color: darkgreen;
  text-decoration: none;
  font-size: 20px;

}

nav img {
  width: 25px;
  height: 25px;
}

nav a:hover {
  text-decoration: underline;
  transform: translateY(-2px);
}